flows.json
[
    {
        "id": "flow1",
        "type": "tab",
        "label": "PawCare Monitor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "uitab1",
        "type": "ui_tab",
        "name": "PawCare",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "grp1",
        "type": "ui_group",
        "name": "Ambiente",
        "tab": "uitab1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "grp2",
        "type": "ui_group",
        "name": "Historico de Temperatura",
        "tab": "uitab1",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "grp3",
        "type": "ui_group",
        "name": "Movimento do Pet",
        "tab": "uitab1",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "grp4",
        "type": "ui_group",
        "name": "Status e Alertas",
        "tab": "uitab1",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "broker1",
        "type": "mqtt-broker",
        "name": "HiveMQ Public",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "nodered-pawcare-001",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "mqtt1",
        "type": "mqtt in",
        "z": "flow1",
        "name": "Sub: Temperatura",
        "topic": "pawcare/temperatura",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker1",
        "x": 160,
        "y": 100,
        "wires": [["fn1"]]
    },
    {
        "id": "fn1",
        "type": "function",
        "z": "flow1",
        "name": "Formatar Temperatura",
        "func": "var temp = parseFloat(msg.payload);\nmsg.payload = temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 100,
        "wires": [["gauge1", "chart1", "fn_alert_temp"]]
    },
    {
        "id": "gauge1",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "Gauge Temperatura",
        "group": "grp1",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": 50,
        "colors": ["#00b4d8", "#f0a500", "#e63946"],
        "seg1": 25,
        "seg2": 35,
        "x": 660,
        "y": 60,
        "wires": []
    },
    {
        "id": "chart1",
        "type": "ui_chart",
        "z": "flow1",
        "name": "Grafico Temperatura",
        "group": "grp2",
        "order": 1,
        "width": 6,
        "height": 4,
        "label": "Temperatura (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Aguardando dados...",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPts": "100",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "colors": ["#00b4d8"],
        "useOneColor": false,
        "x": 660,
        "y": 100,
        "wires": [[]]
    },
    {
        "id": "fn_alert_temp",
        "type": "function",
        "z": "flow1",
        "name": "Alerta Temperatura",
        "func": "var temp = msg.payload;\nif (temp > 35) {\n    msg.payload = 'ALERTA: Temperatura muito alta! ' + temp + 'C';\n    return msg;\n} else if (temp < 15) {\n    msg.payload = 'ALERTA: Temperatura muito baixa! ' + temp + 'C';\n    return msg;\n}\nmsg.payload = 'Temperatura normal: ' + temp + 'C';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 660,
        "y": 140,
        "wires": [["text_alert"]]
    },
    {
        "id": "mqtt2",
        "type": "mqtt in",
        "z": "flow1",
        "name": "Sub: Umidade",
        "topic": "pawcare/umidade",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker1",
        "x": 160,
        "y": 240,
        "wires": [["fn2"]]
    },
    {
        "id": "fn2",
        "type": "function",
        "z": "flow1",
        "name": "Formatar Umidade",
        "func": "var umid = parseFloat(msg.payload);\nmsg.payload = umid;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 240,
        "wires": [["gauge2", "fn_alert_umid"]]
    },
    {
        "id": "gauge2",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "Gauge Umidade",
        "group": "grp1",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Umidade",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": ["#e63946", "#f0a500", "#00b4d8"],
        "seg1": 30,
        "seg2": 60,
        "x": 660,
        "y": 220,
        "wires": []
    },
    {
        "id": "fn_alert_umid",
        "type": "function",
        "z": "flow1",
        "name": "Alerta Umidade",
        "func": "var umid = msg.payload;\nif (umid > 80) {\n    msg.payload = 'ALERTA: Umidade muito alta! ' + umid + '%';\n    return msg;\n}\nmsg.payload = 'Umidade normal: ' + umid + '%';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 660,
        "y": 260,
        "wires": [["text_alert"]]
    },
    {
        "id": "mqtt3",
        "type": "mqtt in",
        "z": "flow1",
        "name": "Sub: Movimento",
        "topic": "pawcare/movimento",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker1",
        "x": 160,
        "y": 380,
        "wires": [["fn3"]]
    },
    {
        "id": "fn3",
        "type": "function",
        "z": "flow1",
        "name": "Formatar Movimento",
        "func": "if (msg.payload == '1' || msg.payload == 1) {\n    msg.payload = 'MOVIMENTO DETECTADO!';\n} else {\n    msg.payload = 'Pet em repouso';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 380,
        "wires": [["text_mov"]]
    },
    {
        "id": "text_mov",
        "type": "ui_text",
        "z": "flow1",
        "name": "Status Movimento",
        "group": "grp3",
        "order": 1,
        "width": 6,
        "height": 2,
        "title": "Status do Pet",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 660,
        "y": 380,
        "wires": []
    },
    {
        "id": "mqtt4",
        "type": "mqtt in",
        "z": "flow1",
        "name": "Sub: Status",
        "topic": "pawcare/status",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker1",
        "x": 160,
        "y": 500,
        "wires": [["text_status"]]
    },
    {
        "id": "text_status",
        "type": "ui_text",
        "z": "flow1",
        "name": "Status Dispositivo",
        "group": "grp4",
        "order": 1,
        "width": 6,
        "height": 1,
        "title": "Dispositivo",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 400,
        "y": 500,
        "wires": []
    },
    {
        "id": "text_alert",
        "type": "ui_text",
        "z": "flow1",
        "name": "Texto Alertas",
        "group": "grp4",
        "order": 2,
        "width": 6,
        "height": 2,
        "title": "Ultimo Alerta",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 900,
        "y": 200,
        "wires": []
    }
]
